.chat-body {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
  max-height: 250px;
  overflow-y: scroll;
}
.chat-container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.chat-darker {
  border-color: #ccc;
  background-color: #ddd;
}

.chat-container::after {
  content: "";
  clear: both;
  display: table;
}

.chat-container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.chat-container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.chat-time-right {
  float: right;
  color: #aaa;
}

.chat-time-left {
  float: left;
  color: #999;
}